.App {
  text-align: center;
  max-width: max-content;
  margin: 0 auto;

  .info-wrapper {
    display: flex;
    align-items: center;
    margin: 20px auto 50px auto;
    justify-content: space-between;
    .info {
      span {
        font-size: 18px;
        font-weight: 800;
      }
    }
  }
}
