.wrapper {
  width: max-content;
  margin: 0 auto;

  .row {
    display: flex;
    align-items: center;

    .column {
      height: 100px;
      width: 100px;
      margin: 1px;
      border-radius: 15px;
    }
  }
}
